.bg-light-blue-darken-3
{
  background-color: #0277bd;
}

.bg-white{
  background-color: white;
}

.black-text
{
  color: black
}

.text-black
{
  color: black
}

.icons{
  font-size: 35px
}

.icons-sm{
  font-size: 25px
}

.icons-md{
  font-size: 55px
}

.icons-lg{
  font-size: 55px
}

.icons-xl{
  font-size: 65px
}
