<main class="container-fluid">
  <div class="row">
    <div class="col-1 heigher bg-dark text-center pt-3 px-0">
      <button  class="btn mb-4 bg-dark"><i class="fas fa-bars text-white icons"></i></button>
      <br />
      <button {{action 'goHome'}} class="btn mb-4 bg-dark"><i class="fas fa-home text-white icons"></i></button>
      <br />
      <button {{action 'goSubscribers'}}  class="btn mb-4 bg-dark"><i class="fas fa-graduation-cap text-white icons"></i></button>
      <br />
      <button {{action 'goStudents'}}  class="btn mb-4 bg-dark"><i class="fas fa-user-alt text-white icons"></i></button>
      <br />
      <button {{action 'goTeachers'}}   class="btn mb-4 bg-dark"><i class="fas fa-chalkboard-teacher text-white icons"></i></button>
      <br />
      <button {{action 'goLectures'}}  class="btn mb-4 bg-dark"><i class="fas fa-school text-white icons"></i></button>
      <br />
      <button {{action 'goContracts'}}  class="btn mb-4 bg-dark"><i class="fas fa-file-contract text-white icons"></i></button>
      <br />
      <div class="dropdown-divider mb-4">

      </div>
      <button {{action 'goLogin'}}  class="btn mb-4 bg-dark"><i class="fas fa-sign-out-alt text-white icons"></i></button>
    </div>
    <div class="col-11">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 pt-3">
            <h1><b>Alumnos</b></h1>
            <div class="dropdown-divider">

            </div>
          </div>
          <div class="col-12">
            <br />
          </div>
          {{#each model as |student|}}
          <!-- DIVIDER -->
          <div class="col-12 bg-white black-text py-3 shadow mb-4">
            <div class="container-fluid">
              <div class="row">
                <div class="col-8">
                  <h5 class="pt-1">{{student.name}} {{student.lastName}}</h5>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-info"{{action 'goStudentDetails' student}}>Detalles<i class="far fa-edit ml-2"></i></button>
                  <button type="button" class="btn btn-danger"{{action 'deleteStudent' student}}>Eliminar<i class="far fa-trash-alt ml-2"></i></button>
                  <i class="fas fa-ellipsis-v icons-sm ml-2"></i>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 fixed-bottom">
    <button class="btn float-right rounded-circle m-4 shadow bg-success text-white" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus icons"></i></button>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title black-text" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-user"></i></div>
            </div>
            {{input type="text" class="form-control border-left-0" id="txtName" placeholder="Nombre" value=name}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-user"></i></div>
            </div>
            {{input type="text" class="form-control border-left-0" id="txtLastName" placeholder="Apellidos" value=lastName}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="far fa-envelope"></i></div>
            </div>
            {{input type="email" class="form-control border-left-0" id="txtMail" placeholder="Correo Electronico" value=email}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-phone"></i></div>
            </div>
            {{input type="number" class="form-control border-left-0" id="txtPhone" placeholder="Telefono" value=phone}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-graduation-cap"></i></div>
            </div>
            {{input type="number" class="form-control border-left-0" id="txtGrade" placeholder="Calificación examen" value=test_grade}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-book"></i></div>
            </div>
            <select class="custom-select">
              <option selected>Introduce la lección</option>
              <option value="Induccion">Inducción</option>
              <option value="1L1">1ra lección (practica escrita y practica ora)Nivel 1</option>
              <option value="2L1">2da lección (practica escrita y practica oral)Nivel 1</option>
              <option value="3L1">3ra lección (practica escrita y practica oral)Nivel 1</option>
              <option value="4L1">4ta lección (practica escrita y practica oral)Nivel 1</option>
              <option value="5L1">Revisión (examen escrito y examen oral)Nivel 1</option>
              <option value="6L1">5ta lección (practica escrita y practica oral)Nivel 1</option>
              <option value="7L1">6ta lección (practica escrita y practica oral)Nivel 1</option>
              <option value="8L1">7ma lección (practica escrita y practica oral)Nivel 1</option>
              <option value="9L1">8va lección (practica escrita y practica oral)Nivel 1</option>
              <option value="10L1">Global (examen final escrito y examen final oral)Nivel 1</option>
              <option value="1L1">1ra lección (practica escrita y practica ora)Nivel 2</option>
              <option value="2L1">2da lección (practica escrita y practica oral)Nivel 2</option>
              <option value="3L1">3ra lección (practica escrita y practica oral)Nivel 2</option>
              <option value="4L1">4ta lección (practica escrita y practica oral)Nivel 2</option>
              <option value="5L1">Revisión (examen escrito y examen oral)Nivel 2</option>
              <option value="6L1">5ta lección (practica escrita y practica oral)Nivel 2</option>
              <option value="7L1">6ta lección (practica escrita y practica oral)Nivel 2</option>
              <option value="8L1">7ma lección (practica escrita y practica oral)Nivel 2</option>
              <option value="9L1">8va lección (practica escrita y practica oral)Nivel 2</option>
              <option value="10L1">Global (examen final escrito y examen final oral)Nivel 2</option>
            </select>
          </div>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-success"data-dismiss="modal" {{action 'addStudent'}}>Agregar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"{{action 'Cancel'}}>Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{log model}}
<script type="text/javascript">
$(".heigher").css('height', window.innerHeight);
</script>
