<main class="container-fluid">
  <div class="row">
    <div class="col-1 heigher bg-dark text-center pt-3 px-0">
      <button  class="btn mb-4 bg-dark"><i class="fas fa-bars text-white icons"></i></button>
      <br />
      <button {{action 'goHome'}} class="btn mb-4 bg-dark"><i class="fas fa-home text-white icons"></i></button>
      <br />
      <button {{action 'goSubscribers'}}  class="btn mb-4 bg-dark"><i class="fas fa-graduation-cap text-white icons"></i></button>
      <br />
      <button {{action 'goStudents'}}  class="btn mb-4 bg-dark"><i class="fas fa-user-alt text-white icons"></i></button>
      <br />
      <button {{action 'goTeachers'}}   class="btn mb-4 bg-dark"><i class="fas fa-chalkboard-teacher text-white icons"></i></button>
      <br />
      <button {{action 'goLectures'}}  class="btn mb-4 bg-dark"><i class="fas fa-school text-white icons"></i></button>
      <br />
      <button {{action 'goContracts'}}  class="btn mb-4 bg-dark"><i class="fas fa-file-contract text-white icons"></i></button>
      <br />
      <div class="dropdown-divider mb-4">

      </div>
      <button {{action 'goLogin'}}  class="btn mb-4 bg-dark"><i class="fas fa-sign-out-alt text-white icons"></i></button>
    </div>
    <div class="col-11">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 pt-3">
            <h1><b>Contratos</b></h1>
            <div class="dropdown-divider">


            </div>
          </div>
          <div class="col-12">
            <br />
          </div>
          {{#each model.contracts as |contract|}}
          <!-- DIVIDER -->
          <div class="col-12 bg-white black-text py-3 shadow mb-4">
            <div class="container-fluid">
              <div class="row">
                <div class="col-8">
                  <h5 class="pt-1">{{contract.id}} {{model.contracts.subscriber.name}}</h5>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-info"{{action 'goContractProfile' contract}}>Detalles<i class="far fa-edit ml-2"></i></button>
                  <button type="button" class="btn btn-danger"{{action 'deleteContract' contract}}>Eliminar<i class="far fa-trash-alt ml-2"></i></button>
                  <i class="fas fa-ellipsis-v icons-sm ml-2"></i>
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <h3>No hay contratos</h3>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 fixed-bottom">
    <button class="btn float-right rounded-circle m-4 shadow bg-success text-white" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus icons"></i></button>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title black-text" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-calendar-alt"></i></div>
            </div>
            {{input type="date" class="form-control border-left-0" id="textDateBe" placeholder="Introduce la fecha de inicio" value=contractSignatureDate}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-calendar-alt"></i></div>
            </div>
            {{input type="date" class="form-control border-left-0" id="txtDateDue" placeholder="Introduce la fecha de fin" value=contractDueDate}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-3"><i class="fas fa-book"></i></div>
            </div>

          </div>
          {{#power-select dropdownClass="in-modal-dropdown" renderInPlace=true
            options=model.subscribers
            selected=subscriberSelected
            onchange=(action "onSubscriberSelected")
            as |subscriber|}}
            <strong>{{subscriber.name}} {{subscriber.last_name}}</strong>
          {{/power-select}}

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-success"data-dismiss="modal" {{action 'addContract'}}>Agregar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"{{action 'Cancel'}}>Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{log model}}
<script type="text/javascript">
$(".heigher").css('height', window.innerHeight);
</script>
