<main class="container-fluid">
  <div class="row">
    <div class="col-1 heigher bg-dark text-center pt-3 px-0">
      <button  class="btn mb-4 bg-dark"><i class="fas fa-bars text-white icons"></i></button>
      <br />
      <button {{action 'goHome'}} class="btn mb-4 bg-dark"><i class="fas fa-home text-white icons"></i></button>
      <br />
      <button {{action 'goSubscribers'}}  class="btn mb-4 bg-dark"><i class="fas fa-graduation-cap text-white icons"></i></button>
      <br />
      <button {{action 'goStudents'}}  class="btn mb-4 bg-dark"><i class="fas fa-user-alt text-white icons"></i></button>
      <br />
      <button {{action 'goTeachers'}}   class="btn mb-4 bg-dark"><i class="fas fa-chalkboard-teacher text-white icons"></i></button>
      <br />
      <button {{action 'goLectures'}}  class="btn mb-4 bg-dark"><i class="fas fa-school text-white icons"></i></button>
      <br />
      <button {{action 'goContracts'}}  class="btn mb-4 bg-dark"><i class="fas fa-file-contract text-white icons"></i></button>
      <br />
      <div class="dropdown-divider mb-4">

      </div>
      <button {{action 'goLogin'}}  class="btn mb-4 bg-dark"><i class="fas fa-sign-out-alt text-white icons"></i></button>
    </div>
    <div class="col-11">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 pt-3">
            <h1><b>Profesores</b></h1>
            <div class="dropdown-divider">

            </div>
          </div>
          <div class="col-12">
            <br />
          </div>
          <div class="col-12">
            <form >
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-user"></i></div>

                </div>
                {{input type="text" class="form-control" id="" placeholder="Nombre" value=model.name}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                {{input type="text" class="form-control" id="" placeholder="Apellidos" value=model.lastName}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                </div>
              {{input type="text" class="form-control" id="" placeholder="Correo Electrónico" value=model.mail}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-phone"></i></div>
                </div>
                {{input type="text" class="form-control" id="" placeholder="Telefono" value=model.phone}}
              </div>
              <div class="">
                <br />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-success" {{action 'updateTeacher' model}}>Actualizar<i class="fas fa-redo-alt ml-2"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title black-text" id="exampleModalLabel">Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-user"></i></div>
            </div>
            {{input type="text" class="form-control border-left-0" id="txtName" placeholder="Nombre" value=name}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-user"></i></div>
            </div>
            {{input type="text" class="form-control border-left-0" id="txtLastName" placeholder="Apellidos" value=lastName}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="far fa-envelope"></i></div>
            </div>
            {{input type="email" class="form-control border-left-0" id="txtMail" placeholder="Correo Electronico" value=email}}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-right-0"><i class="fas fa-phone"></i></div>
            </div>
            {{input type="number" class="form-control border-left-0" id="txtPhone" placeholder="Telefono" value=phone}}
          </div>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-success"data-dismiss="modal" {{action 'addTeacher'}}>Agregar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"{{action 'Cancel'}}>Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{log model}}
<script type="text/javascript">
$(".heigher").css('height', window.innerHeight);
</script>
