<!-- <main class="container-fluid">
  <div class="row">
    <div class="col-1 heigher bg-dark text-center pt-3 px-0">
      <button  class="btn mb-4 bg-dark"><i class="fas fa-bars text-white icons"></i></button>
      <br />
      <button {{action 'goHome'}} class="btn mb-4 bg-dark"><i class="fas fa-home text-white icons"></i></button>
      <br />
      <button {{action 'goSubscribers'}}  class="btn mb-4 bg-dark"><i class="fas fa-graduation-cap text-white icons"></i></button>
      <br />
      <button {{action 'goStudents'}}  class="btn mb-4 bg-dark"><i class="fas fa-user-alt text-white icons"></i></button>
      <br />
      <button {{action 'goTeachers'}}   class="btn mb-4 bg-dark"><i class="fas fa-chalkboard-teacher text-white icons"></i></button>
      <br />
      <button {{action 'goLessons' }}  class="btn mb-4 bg-dark"><i class="fas fa-school text-white icons"></i></button>
      <br />
      <button {{action 'goContracts'}}  class="btn mb-4 bg-dark"><i class="fas file-contract text-white icons"></i></button>
      <br />
      <div class="dropdown-divider mb-4">

      </div>
      <button {{action 'goLogin' }}  class="btn mb-4 bg-dark"><i class="fas fa-sign-out-alt text-white icons"></i></button>
    </div>
    <div class="col-11">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="col-12 pt-3">
              <h1><b>Contratos</b></h1>
              <div class="dropdown-divider">

              </div>
            </div>
            <div class="col-12">
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
$(".heigher").css('height', window.innerHeight);
</script> -->
{{outlet}}
