<main class="container-fluid">
  <div class="row">
    <div class="col-1 heigher bg-dark text-center pt-3 px-0">
      <button  class="btn mb-4 bg-dark"><i class="fas fa-bars text-white icons"></i></button>
      <br />
      <button {{action 'goHome'}} class="btn mb-4 bg-dark"><i class="fas fa-home text-white icons"></i></button>
      <br />
      <button {{action 'goSubscribers'}}  class="btn mb-4 bg-dark"><i class="fas fa-graduation-cap text-white icons"></i></button>
      <br />
      <button {{action 'goStudents'}}  class="btn mb-4 bg-dark"><i class="fas fa-user-alt text-white icons"></i></button>
      <br />
      <button {{action 'goTeachers'}}   class="btn mb-4 bg-dark"><i class="fas fa-chalkboard-teacher text-white icons"></i></button>
      <br />
      <button {{action 'goLessons' }}  class="btn mb-4 bg-dark"><i class="fas fa-school text-white icons"></i></button>
      <br />
      <button {{action 'goContracts'}}  class="btn mb-4 bg-dark"><i class="fas fa-file-contract text-white icons"></i></button>
      <br />

      <div class="dropdown-divider mb-4">

      </div>
      <button {{action 'goLogin' }}  class="btn mb-4 bg-dark"><i class="fas fa-sign-out-alt text-white icons"></i></button>
    </div>
    <div class="col-11 pt-5">
      <div class="container-fluid">
        <div class="row pt-5">
          <!-- INSCRIBIR -->
          <div class="col-6 text-center mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="rounded-circle bg-white mx-auto text-center"{{action 'goSubscribers'}}>
                  <i class="far fa-edit icons-xl text-black p-5"></i>
                </div>
              </div>
            </div>
            <br />
            <h4><b class="text-uppercase">Inscribir</b></h4>
          </div>
          <div class="col-6 text-center mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="rounded-circle bg-white mx-auto text-center"{{action 'goStudents'}}>
                  <i class="fas fa-user-alt icons-xl text-black p-5"></i>
                </div>
              </div>
            </div>
            <br />
            <h4><b class="text-uppercase">Alumnos</b></h4>
          </div>
          <div class="col-12 text-center mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="rounded-circle bg-white mx-auto text-center"{{action 'goSubscribers'}}>
                  <i class="fas fa-user-alt icons-xl text-black p-5"></i>
                </div>
              </div>
            </div>
            <br />
            <h4><b class="text-uppercase">Suscriptores</b></h4>
          </div>
          <div class="col-6 text-center mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="rounded-circle bg-white mx-auto text-center"{{action 'goTeachers'}}>
                  <i class="fas fa-chalkboard-teacher icons-xl text-black p-5"></i>
                </div>
              </div>
            </div>
            <br />
            <h4><b class="text-uppercase">Profesores</b></h4>
          </div>
          <div class="col-6 text-center mb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="rounded-circle bg-white mx-auto text-center"{{action 'goContracts'}}>
                  <i class="fas fa-file-contract icons-xl text-black p-5 mx-3"></i>
                </div>
              </div>
            </div>
            <br />
            <h4><b class="text-uppercase">Contratos</b></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
$(".heigher").css('height', document.height);
</script>
