<main class="container-fluid">
  <div class="row">
    <div class="col-4 text-center">

    </div>
    <div class="col-4 text-center">
      <div class="container-fluid" style="margin-top: 55%">
        <div class="row">
          <div class="col-12 bg-white black-text shadow pt-4 pb-4 px-4 rounded">
            <form {{action 'verifyUser' on="submit"}}>
              <i class="fas fa-school icons-md"></i>
              <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white"><i class="fas fa-user"></i></div>
                </div>
                {{input type="text" class="form-control border-left-0" id="txtUser" placeholder="Usuario" value=user}}
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-white"><i class="fas fa-key"></i></div>
                </div>
                {{input type="password" class="form-control border-left-0" id="txtPass" placeholder="Contraseña" value=pass}}
              </div>
              <div>
                <br />
              </div>
              <button type="submit" class="btn btn-primary mb-2">Iniciar Sesión<i class="fas fa-play ml-2"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 text-center">

    </div>
  </div>
</main>
<script type="text/javascript">
$(".heigher").css('height', window.innerHeight);
$("body").css("background-image", "url('https://mythgyaan.com/wp-content/uploads/2018/10/English-flow-1.jpg')");
$("body").css("background-position", "center");
$("body").css("background-repeat", "repeat");
$("body").css("background-size", "cover");
</script>
